@media screen and (min-width: 480px) {
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    }
}

@media screen and (min-width: 940px) {
.container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    }
}

img {
    height: 25px;
    width: auto;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #C6002A;
}